.watch-header {
border-top:1px solid #000;
border-left:1px solid #000;
border-right:1px solid #000;
width:300px;
}

.watch-data {
border-bottom:1px solid #000;
border-left:1px solid #000;
border-right:1px solid #000;
width:300px;
}

.watch-close {
vertical-align:top;
}

.buysell {
width:30px;
}

.price {
width:100px;
text-align:right;
}

.graph {
width:170px;
}

.search-item-cell {
border:1px solid #000;
width:300px;
}
