

html {
	overflow: hidden;
	height: 100%;
	width: 100%;
}

body{
height: 100%;
width: 100%;


}

.resizeGrip {
	background: lightblue;
	border: 1px solid blue;
	position: absolute;
}

#content {
	position: absolute;
	top:10px;
	bottom: 10px;
	left: 10px;
	right: 10px;
	padding: 10px;
}

#resizeGripTop {
	height: 10px;
	top: 0;
	left: 10px;
	right: 10px;
	cursor: ns-resize;
}

#resizeGripBottom {
	height: 10px;
	bottom: 0;
	left: 10px;
	right: 10px;
	cursor: ns-resize;
}

#resizeGripLeft {
	width: 10px;
	left: 0;
	top: 10px;
	bottom: 10px;
	cursor: ew-resize;
}

#resizeGripRight {
	width: 10px;
	right: 0;
	top: 10px;
	bottom: 10px;
	cursor: ew-resize;
}

#resizeGripTopLeft {
	width: 10px;
	height: 10px;
	top: 0;
	left: 0;
	cursor: nwse-resize;
}

#resizeGripBottomLeft {
	width: 10px;
	height: 10px;
	bottom: 0;
	left: 0;
	cursor: nesw-resize;
}

#resizeGripTopRight {
	width: 10px;
	height: 10px;
	top: 0;
	right: 0;
	cursor: nesw-resize;
}

#resizeGripBottomRight {
	width: 10px;
	height: 10px;
	bottom: 0;
	right: 0;
	cursor: nwse-resize;
}



.watch-header {
border-top:1px solid #000;
border-left:1px solid #000;
border-right:1px solid #000;
width:300px;
}

.watch-data {
border-bottom:1px solid #000;
border-left:1px solid #000;
border-right:1px solid #000;
width:300px;
}

.watch-close {
vertical-align:top;
}

.buysell {
width:30px;
}

.price {
width:100px;
text-align:right;
}

.graph {
width:170px;

}

.search-item-cell {
border:1px solid #000;
width:300px;
margin:1px;

  display: inline-block;
}


.none-list {
  list-style-type: none;
      padding-left:0;

}
.item-img{vertical-align: middle;}
.item-name {
 
  display: inline-block; 
  width: 230px;
  vertical-align: middle;
  padding:0 ; 
  margin: 0 ;

}


.item-level {
 

white-space: nowrap;

  color:#000;

}
.right-button {
 vertical-align: middle;
 
}

.searchButton{
    height: 20px;
    width: 20px;
}

.resultContainer{
    border: red solid 1px;
    overflow-y: auto;
    height: 300px;
}


.mainWindow-item-cell {

border:1px solid #000;
width:300px;
margin:1px;
display: inline-block;
}

.buy-sell{
height:1px;
width:100px;


}

.graph-buysell{
width:300px;
margin:1px;
display:inline-block;


}

.buy-sell-prices{
margin-left:20px;
display:inline-block;


}
/*test Item*/
#watchlist-container{

	
    overflow-y: auto;
    height: 330px;

}



/*item border*/

.junk-border{
border-color:#AAA;
border-style:solid;
}
.basic-border{
border-color:#000;
border-style:solid;
}
.fine-border{
border-color:#62A4DA;
border-style:solid;}
.masterwork-border{
border-color:#1a9306;
border-style:solid;}
.rare-border{
border-color:#fcd00b;
border-style:solid;}
.exotic-border{
border-color:#ffa405;
border-style:solid;}
.ascended-border{
border-color:#fb3e8d;
border-style:solid;}
.legendary-border{
border-color:#4C139D;
border-style:solid;}


// item color


.junk{
color:#AAA;
}
.basic{
color:#000;
}
.fine{
color:#62A4DA;}
.masterwork{
color:#1a9306;}
.rare{
color:#fcd00b;}
.exotic{
color:#ffa405;}
.ascended{
color:#fb3e8d;}
.legendary{
color:#4C139D;}
